@use "./variables.scss" as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition {
  transition: all 0.3s ease-in-out;
}

@mixin button {
  outline: none;
  border: none;
  font-size: 1em;
}

@mixin button-hover {
  transition: all 0.3s;

  &:hover {
    filter: brightness(1.1);
  }
}

@mixin button-small {
  height: 21px;
  padding: 3px 8px;
  font-size: 0.8rem;
}
