@use "./variables" as *;
@use "./mixins" as *;

.fullscreenTile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($primary-color, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "Libre Baskerville", serif;
  overflow: hidden;
}

.fullscreenContent {
  color: $text-color;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 1600px;
  transform-origin: center;
}

.questionText {
  font-size: 3rem;
  font-weight: bold;
  color: $text-color;
}

.closeButton {
  margin-top: 1rem;
  padding: 10px 20px;
  background: #0047ab;
  color: $text-color;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background: #00358a;
  }
}

.revealButton {
  background: transparent;
  opacity: 0.6;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin-top: 20px;

  &:active {
    outline: none;
  }

  &:hover {
    filter: unset;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0.8;
  }
}

.answerText {
  margin-top: 10px;
  font-size: 2rem;
  color: #dd0;
}
